body{
    background-color: lightblue ;

img {
    border-radius: 50%;
  }
h1{
    color: palevioletred;
}
h2{
    color: palevioletred;
}
a{
    color: black;
}
footer{
    background-color: gray;
}
}